{% extends "layout.html" %}

{% block body %}
{{ error }}
<a href="{{ url_for('animal_add') }}" class="btn btn-primary">Eikö havaittua eläintä löydy? Siirry tästä lisäämään uusi eläin!</a>
<form method="POST" action="{{ url_for('observation_add') }}">
    <table>
        <tr>
            <td>
                {{ form.animal.label }}
            </td>
            <td>
                {{ form.animal(size=1) }}
            </td>
            <td>
                {% for error in form.animal.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.date_observed.label }}
            </td>
            <td>
                {{ form.date_observed }}
            </td>
            <td>
                {% for error in form.date_observed.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.city.label }}
            </td>
            <td>
                {{ form.city }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.latitude.label }}
            </td>
            <td>
                {{ form.latitude }}
            </td>
            <td>
                {% for error in form.latitude.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.longitude.label }}
            </td>
            <td>
                {{ form.longitude }}
            </td>
            <td>
                {% for error in form.longitude.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.weight.label }}
            </td>
            <td>
                {{ form.weight }}
            </td>
            <td>
                {% for error in form.weight.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.sex.label }}
            </td>
            <td>
                {{ form.sex(size=1) }}
            </td>
            <td>
                {% for error in form.sex.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.observ_type.label }}
            </td>
            <td>
                {{ form.observ_type(size=1) }}
            </td>
            <td>
                {% for error in form.observ_type.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.equipment.label }}
            </td>
            <td>
                {{ form.equipment }}
            </td>
            <td>
                {% for error in form.equipment.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.info.label }}
            </td>
            <td>
                {{ form.info }}
            </td>
            <td>
                {% for error in form.info.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää havainto" />
            </td>
        </tr>
</form>
{% endblock %}