{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('observation_menu') }}" class="btn btn-outline-primary">Takaisin havaintovalikkoon</a>
{{ error }}
<a href="{{ url_for('animal_add') }}" class="btn btn-primary">Eikö havaittua eläintä löydy? Siirry tästä lisäämään uusi
    eläin!</a>
<form method="POST" action="{{ url_for('observation_add') }}">
    <table>
        <tr>
            <td>
                {{ form.animal.label }}
            </td>
            <td>
                {{ form.animal(size=1) }} *
            </td>
            <td>
                {% if error in form.animal.errors %}
                <div>{{ form.animal.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.date_observed.label }}
            </td>
            <td>
                {{ form.date_observed }} *
            </td>
            <td>
                {% if form.date_observed.errors %}
                <div>{{ form.date_observed.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.city.label }}
            </td>
            <td>
                {{ form.city }} *
            </td>
            <td>
                {% if form.city.errors %}
                <div>{{ form.city.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.latitude.label }}
            </td>
            <td>
                {{ form.latitude }}
            </td>
            <td>
                {% if form.latitude.errors %}
                <div>{{ form.latitude.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.longitude.label }}
            </td>
            <td>
                {{ form.longitude }}
            </td>
            <td>
                {% if form.longitude.errors %}
                <div>{{ form.longitude.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.weight.label }}
            </td>
            <td>
                {{ form.weight }}
            </td>
            <td>
                {% if form.weight.errors %}
                <div>{{ form.weight.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.sex.label }}
            </td>
            <td>
                {{ form.sex(size=1) }} *
            </td>
            <td>
                {% if form.sex.errors %}
                <div>{{ form.sex.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.observ_type.label }}
            </td>
            <td>
                {{ form.observ_type(size=1) }} *
            </td>
            <td>
                {% if form.observ_type.errors %}
                <div>{{ form.observ_type.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.equipment.label }}
            </td>
            <td>
                {{ form.equipment }} *
            </td>
            <td>
                {% if form.equipment.errors %}
                <div>{{ form.equipment.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.info.label }}
            </td>
            <td>
                {{ form.info }}
            </td>
            <td>
                {% if form.info.errors %}
                <div>{{ form.info.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>*-merkillä merkatut kentät ovat pakollisia</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää havainto" class="btn btn-success"/>
            </td>
        </tr>
</form>
{% endblock %}