{% extends "layout.html" %}

{% block body %}
<a href="{{ last_path }}" class="btn btn-outline-primary">Takaisin</a>
<a href="{{ url_for('animal_add') }}" class="btn btn-primary">Eikö havaittua eläintä löydy? Siirry tästä lisäämään uusi
    eläin!</a>
<h2>Käyttäjän {{obs_username}} havainto</h2>
<p id="acc_id" style="display: none;">{{observation.account_id}}</p>
{% if current_user.urole == 'ADMIN' %}
<h2>Muokattavana havainto numero: {{ observation.observation_id }}</h2>
{% endif %}
<form method="POST" action="{{ url_for('observation_edit', obs_id = observation.observation_id, last_path = last_path) }}">
    <table class="table-bordered" style="border: hidden">
        <h3>*-merkillä merkatut kentät ovat pakollisia</h3>
        <tbody class="table-bordered" style="border: hidden">
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.animal.label }}
                </td>
                <td style="border: hidden; color: white">
                    {{ form.animal(size=1) }} *
                </td>
                <td style="border: hidden">
                    {% if error in form.animal.errors %}
                    <div>{{ form.animal.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.date_observed.label }}
                </td>
                <td style="border: hidden; color: white">
                    {{ form.date_observed }} *
                </td>
                <td style="border: hidden">
                    {% if form.date_observed.errors %}
                    <div>{{ form.date_observed.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.city.label }}
                </td>
                <td style="border: hidden;color: white">
                    {{ form.city }} *
                </td>
                <td style="border: hidden">
                    {% if form.city.errors %}
                    <div>{{ form.city.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="3" style="border: hidden">
                    <div id="addMap" style="height: 400px; width: 800px"></div>
                </td>
                <td style="border: hidden">
                    <button id="emptyCoords" style="width: 200px;" type="button" class="btn btn-warning" onclick=emptyCoordinateSelection()>Nollaa koordinaatit</button>
                </td>
                <td style="border: hidden">
                    <button id="emptyCoords" style="width: 200px;" type="button" class="btn btn-warning" onclick=revertCoordinates()>Palauta koordinaatit</button>
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.latitude.label }}
                </td>
                <td style="border: hidden">
                    {{ form.latitude }}
                </td>
                <td style="border: hidden">
                    {% if form.latitude.errors %}
                    <div>{{ form.latitude.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.longitude.label }}
                </td>
                <td style="border: hidden">
                    {{ form.longitude }}
                </td>
                <td style="border: hidden">
                    {% if form.longitude.errors %}
                    <div>{{ form.longitude.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.weight.label }}
                </td>
                <td style="border: hidden">
                    {{ form.weight }}
                </td>
                <td style="border: hidden">
                    {% if form.weight.errors %}
                    <div>{{ form.weight.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.sex.label }}
                </td>
                <td style="border: hidden; color: white">
                    {{ form.sex(size=1) }} *
                </td>
                <td style="border: hidden">
                    {% if form.sex.errors %}
                    <div>{{ form.sex.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.observ_type.label }}
                </td>
                <td style="border: hidden; color: white">
                    {{ form.observ_type(size=1) }} *
                </td>
                <td style="border: hidden">
                    {% if form.observ_type.errors %}
                    <div>{{ form.observ_type.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.equipment.label }}
                </td>
                <td style="border: hidden;color: white">
                    {{ form.equipment }} *
                </td>
                <td style="border: hidden">
                    {% if form.equipment.errors %}
                    <div>{{ form.equipment.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td  style="background-color: rgba(255, 255, 255, 0.5)">
                    {{ form.info.label }}
                </td>
                <td style="border: hidden">
                    {{ form.info(cols="35", rows="8") }}
                </td>
                <td style="border: hidden">
                    {% if form.info.errors %}
                    <div>{{ form.info.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        <tr style="border: hidden" class="table-default">
            <td colspan="2" style="border: hidden">
                <input type="submit" value="Suorita havainnon muokkaus" class="btn btn-warning btn-lg" />
            </td>
        </tr>
    </table>
</form>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<!-- Problem with getting the parameters tro the function -->
<script>
var acc_id = '{{ observation.account_id }}';
var obs_id = '{{ observation.observation_id }}'
</script>
<script>sendObsRequest()</script>
{% endblock %}