{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('observation_menu') }}" class="btn btn-outline-primary">Takaisin havaintovalikkoon</a>
<h2>Kaikki havainnot</h2>
<a href="#filter" class="btn btn-primary" data-toggle="collapse" aria-controls="rajaus">Rajaa näytettäviä havaintoja</a>
<a href="{{ url_for('observation_list_all', page=1) }}" class="btn btn-primary">Näytä kaikki</a>
<a href='#showMap' class="btn btn-primary" data-toggle="collapse" aria-controls="showMap">Näytä havainnot kartalla</a>


<div id="filter" class="collapse" aria-controls="filter">
    <form id="filterForm" method="POST" action="{{ url_for('observation_list_all', page=1) }}">
        {{ form.hidden_tag() }}
        <table id="filter">
            <tbody class="table-bordered" style="border: hidden">
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.username.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.username }}
                    </td>
                    <td style="border: hidden">
                        {% if form.username.errors %}
                        <div>{{ form.username.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.date_observedLow.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.date_observedLow }} -
                    </td>
                    <td style="border: hidden">
                        {{ form.date_observedHigh }}
                    </td>
                    <td style="border: hidden">
                        {% if form.date_observedLow.errors %}
                        <div>{{ form.date_observedLow.errors[0] }}</div>
                        {% endif %}
                    </td>
                    <td style="border: hidden">
                        {% if form.date_observedHigh.errors %}
                        <div>{{ form.date_observedHigh.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.city.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.city }}
                    </td>
                    <td style="border: hidden">
                        {% if form.city.errors %}
                        <div>{{ form.city.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.latitudeLow.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.latitudeLow }} -
                    </td>
                    <td style="border: hidden">
                        {{ form.latitudeHigh }}
                    </td>
                    <td style="border: hidden">
                        {% if form.latitudeLow.errors %}
                        <div>{{ form.latitudeLow.errors[0] }}</div>
                        {% endif %}
                    </td>
                    <td style="border: hidden">
                        {% if form.latitudeHigh.errors %}
                        <div>{{ form.latitudeHigh.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.longitudeLow.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.longitudeLow }} -
                    </td>
                    <td>
                        {{ form.longitudeHigh }}
                    </td>
                    <td style="border: hidden">
                        {% if form.longitudeLow.errors %}
                        <div>{{ form.longitudeLow.errors[0] }}</div>
                        {% endif %}
                    </td>
                    <td style="border: hidden">
                        {% if form.longitudeHigh.errors %}
                        <div>{{ form.longitudeHigh.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.animal.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.animal(size=4) }}
                    </td>
                    <td style="border: hidden">
                        {% if form.animal.errors %}
                        <div>{{ form.animal.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.weightLow.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.weightLow }} -
                    </td>
                    <td style="border: hidden">
                        {{ form.weightHigh }}
                    </td>
                    <td style="border: hidden">
                        {% if form.weightLow.errors %}
                        <div>{{ form.weightLow.errors[0] }}</div>
                        {% endif %}
                    </td>
                    <td style="border: hidden">
                        {% if form.weightHigh.errors %}
                        <div>{{ form.weightHigh.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.sex.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.sex(size=4) }}
                    </td>
                    <td style="border: hidden">
                        {% if form.sex.errors %}
                        <div>{{ form.sex.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.observ_type.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.observ_type(size=4) }}
                    </td>
                    <td style="border: hidden">
                        {% if form.observ_type.errors %}
                        <div>{{ form.observ_type.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.equipment.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.equipment(size=4) }}
                    </td>
                    <td style="border: hidden">
                        {% if form.equipment.errors %}
                        <div>{{ form.equipment.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                        {{ form.info.label }}
                    </td>
                    <td style="border: hidden">
                        {{ form.info(cols="21", rows="6") }}
                    </td>
                    <td style="border: hidden">
                        {% if form.info.errors %}
                        <div>{{ form.info.errors[0] }}</div>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Hae"  class="btn btn-info"/>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="showMap" class='collapse' aria-controls="showMap" >
    <div id='filterMap' style="height: 400px; width: 800px"></div>
</div>

<div id="listaus" class="container">
    <nav aria-label="Pagination">
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('observation_list_all', page=pagination.prev_num, username=form.username.data, dateObservedLow=form.date_observedLow.data, dateObservedHigh=form.date_observedHigh.data, city=form.city.data, latitudeLow=form.latitudeLow.data, latitudeHigh=form.latitudeHigh.data, longitudeLow=form.longitudeLow.data, longitudeHigh=form.longitudeHigh.data, animal=form.animal.data, weightLow=form.weightLow.data, weightHigh=form.weightHigh.data, sex=form.sex.data, observ_type=form.observ_type.data, equipment=form.equipment.data, info=form.info.data) }}">Edellinen</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Edellinen</a></li>
            {% endif %}

            {% for page in pagination.iter_pages() %}
            {% if page %}
            {% if page != pagination.page %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('observation_list_all', page=page, username=form.username.data, dateObservedLow=form.date_observedLow.data, dateObservedHigh=form.date_observedHigh.data, city=form.city.data, latitudeLow=form.latitudeLow.data, latitudeHigh=form.latitudeHigh.data, longitudeLow=form.longitudeLow.data, longitudeHigh=form.longitudeHigh.data, animal=form.animal.data, weightLow=form.weightLow.data, weightHigh=form.weightHigh.data, sex=form.sex.data, observ_type=form.observ_type.data, equipment=form.equipment.data, info=form.info.data) }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page }}
                </span>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('observation_list_all', page=pagination.next_num, username=form.username.data, dateObservedLow=form.date_observedLow.data, dateObservedHigh=form.date_observedHigh.data, city=form.city.data, latitudeLow=form.latitudeLow.data, latitudeHigh=form.latitudeHigh.data, longitudeLow=form.longitudeLow.data, longitudeHigh=form.longitudeHigh.data, animal=form.animal.data, weightLow=form.weightLow.data, weightHigh=form.weightHigh.data, sex=form.sex.data, observ_type=form.observ_type.data, equipment=form.equipment.data, info=form.info.data) }}">Seuraava</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Seuraava</a></li>
            {% endif %}
        </ul>
    </nav>
    <table id="listaus" class="table table-bordered table-responsive-xl" style="border: hidden">
        <thead class="thead-dark">
            <tr>
                {% if current_user.urole == "ADMIN" %}
                <th>ID</th>
                {% endif %}
                <th>Havaitsija</th>
                <th>Eläin</th>
                <th>Havaittu</th>
                <th>Kunta</th>
                <th>Leveysaste</th>
                <th>Pituusaste</th>
                <th>Paino</th>
                <th>Sukupuoli</th>
                <th>Havaintotapa</th>
                <th>Väline</th>
                <th>Luotu</th>
                <th>Muokattu</th>
            </tr>
        </thead>
        <tbody>
            {% for obs in pagination.items %}
            <tr>
                {% if current_user.urole == "ADMIN" %}
                <td class="table-light">{{ obs[0].observation_id }}</td>
                {% endif %}
                <td class="table-light">
                    <a
                        href="{{ url_for('observation_list_by_id', user_id = obs[0].account_id, page=1) }}">{{ obs[3].username }}</a>
                </td>
                {% if obs[1].info %}
                <td class="table-light"><a href={{ obs[1].info }} target="_blank">{{ obs[1].name }}</a></td>
                {% else %}
                <td class="table-light">{{ obs[1].name }}</td>
                {% endif %}
                <td class="table-light">{{ obs[0].date_observed }}</td>
                <td class="table-light">{{ obs[0].city }}</td>
                {% if not obs[0].latitude %}
                <td class="table-light">Ei annettu</td>
                {% else %}
                <td class="table-light"><a
                        href="http://www.openstreetmap.org/?mlat={{ '%0.6f' | format(obs[0].latitude|float) }}&mlon={{ '%0.6f' | format(obs[0].longitude|float) }}&zoom=12"
                        target="_blank">{{ '%0.6f' | format(obs[0].latitude|float) }}</a></td>
                {% endif %}
                {% if not obs[0].longitude %}
                <td class="table-light">Ei annettu</td>
                {% else %}
                <td class="table-light"><a
                        href="http://www.openstreetmap.org/?mlat={{ '%0.6f' | format(obs[0].latitude|float) }}&mlon={{ '%0.6f' | format(obs[0].longitude|float) }}&zoom=12"
                        target="_blank">{{ '%0.6f' | format(obs[0].longitude|float) }}</a></td>
                {% endif %}
                {% if not obs[0].weight %}
                <td class="table-light">Ei annettu</td>
                {% else %}
                <td class="table-light">{{ '%0.2f' | format(obs[0].weight|float) }} Kg</td>
                {% endif %}


                {% if obs[0].sex == 0 %}
                <td class="table-light">Uros</td>
                {% elif obs[0].sex == 1 %}
                <td class="table-light">Naaras</td>
                {% elif obs[0].sex == 2 %}
                <td class="table-light">Muu</td>
                {% else %}
                <td class="table-light">Ei tiedossa</td>
                {% endif %}

                {% if obs[0].observ_type == 0 %}
                <td class="table-light">Saalis</td>
                {% elif obs[0].observ_type == 1 %}
                <td class="table-light">Näköhavainto</td>
                {% elif obs[0].observ_type == 2 %}
                <td class="table-light">Kiinniotto</td>
                {% else %}
                <td class="table-light">Onnettomuus</td>
                {% endif %}
                {% if not obs[2] %}
                <td class="table-light">Poistettu</td>
                {% else %}
                <td class="table-light">{{ obs[2] }}</td>
                {% endif %}
                <td class="table-light">{{ obs[0].date_created }}</td>
                <td class="table-light">{{ obs[0].date_modified }}</td>
                {% if obs[3].account_id == current_user.account_id or current_user.urole == "ADMIN" %}
                <td rowspan="2" style="border: hidden; vertical-align: middle">
                    <div><a href="{{ url_for('observation_delete', obs_id=obs[0].observation_id, last_path=request.path) }}"
                            class="btn btn-danger"
                            onclick="return confirm('Haluatko varmasti poistaa havainnon PYSYVÄSTI? Jos kyllä, paina OK.')">Poista</a>
                    </div>
                </td>
                <td rowspan="2" style="border: hidden; vertical-align: middle">
                    <div><a href="{{ url_for('observation_edit', obs_id=obs[0].observation_id, last_path=request.path) }}"
                            class="btn btn-outline-warning">Muokkaa</a></div>
                </td>
                {% endif %}
            </tr>
            <tr class="table-success" style="border: hidden">
                {% if current_user.urole == "ADMIN" %}
                <td colspan="13" style="word-wrap: break-word; max-width: 20px;">{{ obs[0].info }}</td>
                {% else %}
                <td colspan="12" style="word-wrap: break-word; max-width: 20px;">{{ obs[0].info }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not pagination.items %}
    <p>Ei havaintoja!</p>
    <a href="{{ url_for('observation_add') }}" class="btn btn-outline-primary">Siirry tästä lisäämään uusia
        havaintoja!</a>
    {% endif %}
</div>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
<script src="{{ url_for('static', filename='js/filterMap.js') }}"></script>
<script>sendObsRequest(-2)</script>
{% endblock %}