{% extends "layout.html" %}

{% block body %}
{% if current_user.urole == "ADMIN" %}
<div><h2 style="float: left">Käyttäjä: {{ account.username }}</h2><a href="{{ url_for('auth_delete_account', account_id=account.account_id) }}" class="btn btn-danger" style="float: right"  onclick="return confirm('Oletko varma, että haluat poistaa käyttäjätilin? Myös kaikki käyttäjän havainnot poistetaan järjestelmästä. Jos kyllä, paina OK')">Poista käyttäjä</a></div>
{% else %}
<h2>Käyttäjä: {{ account.username }}</h2>
{% endif %}
<div id="userinfo">
    <table id="listaus" class="table table-bordered">
        <tbody>
            <tr>
                <th style="width: 5px">Käyttäjänimi</th>
                <td>{{ account.username }}</td>
            </tr>
            <tr>
                <th>Nimi</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>Kaupunki</th>
                <td>{{ account.city }}</td>
            </tr>
            <tr>
                <th>Syntymävuosi</th>
                <td>{{ account.age }}</td>
            </tr>
            <tr>
                <th>Havaintoja</th>
                <td>{{ obs_count }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h3>Käyttäjän havainnot</h3>
<a href="#filter" class="btn btn-primary" data-toggle="collapse" aria-controls="rajaus">Rajaa näytettäviä havaintoja</a>
<a href="{{ url_for('observation_list_by_id', user_id = account.account_id) }}" class="btn btn-primary">Näytä kaikki</a>
{{ error }}

<div id="filter" class="collapse" aria-controls="filter">
    {% if observations %}
    <form method="POST" action="{{ url_for('observation_list_by_id', user_id = account.account_id) }}">
        {{ form.hidden_tag() }}
        <table id="filter">
            <tr>
                <td>
                    {{ form.date_observedLow.label }}
                </td>
                <td>
                    {{ form.date_observedLow }} -
                </td>
                <td>
                    {{ form.date_observedHigh }}
                </td>
                <td>
                    {% for error in form.date_observedLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.date_observedHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.city.label }}
                </td>
                <td>
                    {{ form.city }}
                </td>
                <td>
                    {% for error in form.city.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.latitudeLow.label }}
                </td>
                <td>
                    {{ form.latitudeLow }} -
                </td>
                <td>
                    {{ form.latitudeHigh }}
                </td>
                <td>
                    {% for error in form.latitudeLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.latitudeHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.longitudeLow.label }}
                </td>
                <td>
                    {{ form.longitudeLow }} -
                </td>
                <td>
                    {{ form.longitudeHigh }}
                </td>
                <td>
                    {% for error in form.longitudeLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.longitudeHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.animal.label }}
                </td>
                <td>
                    {{ form.animal(size=4) }}
                </td>
                <td>
                    {% for error in form.animal.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.weightLow.label }}
                </td>
                <td>
                    {{ form.weightLow }} -
                </td>
                <td>
                    {{ form.weightHigh }}
                </td>
                <td>
                    {% for error in form.weightLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.weightHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.sex.label }}
                </td>
                <td>
                    {{ form.sex(size=4) }}
                </td>
                <td>
                    {% for error in form.sex.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.observ_type.label }}
                </td>
                <td>
                    {{ form.observ_type(size=3) }}
                </td>
                <td>
                    {% for error in form.observ_type.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.equipment.label }}
                </td>
                <td>
                    {{ form.equipment(size=4) }}
                </td>
                <td>
                    {% for error in form.equipment.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.info.label }}
                </td>
                <td>
                    {{ form.info }}
                </td>
                <td>
                    {% for error in form.info.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Hae" />
                </td>
            </tr>
        </table>
    </form>
    {% else %}
    <p>Käyttäjällä ei ole havaintoja joita rajata!</p>
    {% endif %}
</div>

<div id="listaus" class="container">
    <table id="listaus" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Luotu</th>
                <th>Muokattu</th>
                <th>Havaittu</th>
                <th>Kaupunki</th>
                <th>Leveysaste</th>
                <th>Pituusaste</th>
                <th>Eläin</th>
                <th>Paino</th>
                <th>Sukupuoli</th>
                <th>Havaintotapa</th>
                <th>Väline</th>
            </tr>
        </thead>
        <tbody>
            {% for obs in observations %}
            <tr>
                <td>{{ obs.Havaintonumero }}</td>
                <td>{{ obs.Luotu }}</td>
                <td>{{ obs.Muokattu }}</td>
                <td>{{ obs.Havaittu }}</td>
                <td>{{ obs.Kaupunki }}</td>
                {% if not obs.Leveysaste %}
                <td>Ei annettu</td>
                {% else %}
                <td><a href="http://www.openstreetmap.org/?mlat={{ '%0.6f' | format(obs.Pituusaste|float) }}&mlon={{ '%0.6f' | format(obs.Leveysaste|float) }}&zoom=12"
                        target="_blank">{{ '%0.6f' | format(obs.Leveysaste|float) }}</a></td>
                {% endif %}
                {% if not obs.Pituusaste %}
                <td>Ei annettu</td>
                {% else %}
                <td><a href="http://www.openstreetmap.org/?mlat={{ '%0.6f' | format(obs.Pituusaste|float) }}&mlon={{ '%0.6f' | format(obs.Leveysaste|float) }}&zoom=12"
                        target="_blank">{{ '%0.6f' | format(obs.Pituusaste|float) }}</a></td>
                {% endif %}
                <td>{{ obs.Elain }}</td>
                {% if not obs.Paino %}
                <td>Ei annettu</td>
                {% else %}
                <td>{{ '%0.1f' | format(obs.Paino|float) }} Kg</td>
                {% endif %}


                {% if obs.Sukupuoli == 0 %}
                <td>Uros</td>
                {% elif obs.Sukupuoli == 1 %}
                <td>Naaras</td>
                {% elif obs.Sukupuoli == 2 %}
                <td>Muu</td>
                {% else %}
                <td>Ei tiedossa</td>
                {% endif %}

                {% if obs.Havaintotapa == 0 %}
                <td>Saalis</td>
                {% elif obs.Havaintotapa == 1 %}
                <td>Näköhavainto</td>
                {% elif obs.Havaintotapa == 2 %}
                <td>Kiinniotto</td>
                {% else %}
                <td>Onnettomuus</td>
                {% endif %}
                {% if obs.Valine == 'None' %}
                <td>{{ Tyhjä }}</td>
                {% else %}
                <td>{{ obs.Valine }}</td>
                {% endif %}
                {% if obs.KayttajaId == current_user.account_id or current_user.urole == "ADMIN" %}
                <td rowspan="2">
                    <div style="line-height: 70px"><a
                            href="{{ url_for('observation_delete', obs_id=obs.Havaintonumero, last_path=request.path) }}"
                            class="btn btn-primary"
                            onclick="return confirm('Haluatko varmasti poistaa havainnon PYSYVÄSTI? Jos kyllä, paina OK.')">Poista</a></div>
                </td>
                <td rowspan="2">
                    <div style="line-height: 70px"><a
                            href="{{ url_for('observation_edit', obs_id=obs.Havaintonumero, last_path=request.path) }}"
                            class="btn btn-primary">Muokkaa</a></div>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="12">{{ obs.Lisatiedot }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}