{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('observation_list_all') }}" class="btn btn-outline-primary">Takaisin kaikkien havaintojen
    tarkasteluun</a>
{% if current_user.urole == "ADMIN" %}
<div>
    <h2 style="float: left">Käyttäjä: {{ account.username }}</h2><a
        href="{{ url_for('auth_delete_account', account_id=account.account_id) }}" class="btn btn-danger"
        style="float: right"
        onclick="return confirm('Oletko varma, että haluat poistaa käyttäjätilin? Myös kaikki käyttäjän havainnot poistetaan järjestelmästä. Jos kyllä, paina OK')">Poista
        käyttäjä</a>
</div>
{% else %}
<h2>Käyttäjä: {{ account.username }}</h2>
{% endif %}
<div id="userinfo">
    <table id="listaus" class="table table-bordered">
        <tbody>
            <tr>
                <th style="width: 5px">Käyttäjänimi</th>
                <td>{{ account.username }}</td>
            </tr>
            <tr>
                <th>Nimi</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>Kaupunki</th>
                <td>{{ account.city }}</td>
            </tr>
            <tr>
                <th>Syntymävuosi</th>
                <td>{{ account.age }}</td>
            </tr>
            <tr>
                <th>Havaintoja</th>
                <td>{{ obs_count }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h3>Käyttäjän havainnot</h3>
<a href="#filter" class="btn btn-primary" data-toggle="collapse" aria-controls="rajaus">Rajaa näytettäviä havaintoja</a>
<a href="{{ url_for('observation_list_by_id', user_id = account.account_id) }}" class="btn btn-primary">Näytä kaikki</a>
{{ error }}

<div id="filter" class="collapse" aria-controls="filter">
    {% if pagination.items %}
    <form method="POST" action="{{ url_for('observation_list_by_id', user_id = account.account_id, page=1) }}">
        {{ form.hidden_tag() }}
        <table id="filter">
            <tr>
                <td>
                    {{ form.date_observedLow.label }}
                </td>
                <td>
                    {{ form.date_observedLow }} -
                </td>
                <td>
                    {{ form.date_observedHigh }}
                </td>
                <td>
                    {% for error in form.date_observedLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.date_observedHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.city.label }}
                </td>
                <td>
                    {{ form.city }}
                </td>
                <td>
                    {% for error in form.city.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.latitudeLow.label }}
                </td>
                <td>
                    {{ form.latitudeLow }} -
                </td>
                <td>
                    {{ form.latitudeHigh }}
                </td>
                <td>
                    {% for error in form.latitudeLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.latitudeHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.longitudeLow.label }}
                </td>
                <td>
                    {{ form.longitudeLow }} -
                </td>
                <td>
                    {{ form.longitudeHigh }}
                </td>
                <td>
                    {% for error in form.longitudeLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.longitudeHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.animal.label }}
                </td>
                <td>
                    {{ form.animal(size=4) }}
                </td>
                <td>
                    {% for error in form.animal.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.weightLow.label }}
                </td>
                <td>
                    {{ form.weightLow }} -
                </td>
                <td>
                    {{ form.weightHigh }}
                </td>
                <td>
                    {% for error in form.weightLow.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for error in form.weightHigh.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.sex.label }}
                </td>
                <td>
                    {{ form.sex(size=4) }}
                </td>
                <td>
                    {% for error in form.sex.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.observ_type.label }}
                </td>
                <td>
                    {{ form.observ_type(size=3) }}
                </td>
                <td>
                    {% for error in form.observ_type.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.equipment.label }}
                </td>
                <td>
                    {{ form.equipment(size=4) }}
                </td>
                <td>
                    {% for error in form.equipment.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.info.label }}
                </td>
                <td>
                    {{ form.info }}
                </td>
                <td>
                    {% for error in form.info.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Hae" />
                </td>
            </tr>
        </table>
    </form>
    {% else %}
    <p>Käyttäjällä ei ole havaintoja joita rajata!</p>
    {% endif %}
</div>

<div id="listaus" class="container">
    <nav aria-label="Pagination">
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('observation_list_by_id', user_id=account.account_id, page=pagination.prev_num, username=form.username.data, dateObservedLow=form.date_observedLow.data, dateObservedHigh=form.date_observedHigh.data, city=form.city.data, latitudeLow=form.latitudeLow.data, latitudeHigh=form.latitudeHigh.data, longitudeLow=form.longitudeLow.data, longitudeHigh=form.longitudeHigh.data, animal=form.animal.data, weightLow=form.weightLow.data, weightHigh=form.weightHigh.data, sex=form.sex.data, observ_type=form.observ_type.data, equipment=form.equipment.data, info=form.info.data) }}">Edellinen</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Edellinen</a></li>
            {% endif %}

            {% for page in pagination.iter_pages() %}
            {% if page %}
            {% if page != pagination.page %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('observation_list_by_id', user_id=account.account_id, page=page, username=form.username.data, dateObservedLow=form.date_observedLow.data, dateObservedHigh=form.date_observedHigh.data, city=form.city.data, latitudeLow=form.latitudeLow.data, latitudeHigh=form.latitudeHigh.data, longitudeLow=form.longitudeLow.data, longitudeHigh=form.longitudeHigh.data, animal=form.animal.data, weightLow=form.weightLow.data, weightHigh=form.weightHigh.data, sex=form.sex.data, observ_type=form.observ_type.data, equipment=form.equipment.data, info=form.info.data) }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page }}
                </span>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('observation_list_by_id', user_id=account.account_id, page=pagination.next_num, username=form.username.data, dateObservedLow=form.date_observedLow.data, dateObservedHigh=form.date_observedHigh.data, city=form.city.data, latitudeLow=form.latitudeLow.data, latitudeHigh=form.latitudeHigh.data, longitudeLow=form.longitudeLow.data, longitudeHigh=form.longitudeHigh.data, animal=form.animal.data, weightLow=form.weightLow.data, weightHigh=form.weightHigh.data, sex=form.sex.data, observ_type=form.observ_type.data, equipment=form.equipment.data, info=form.info.data) }}">Seuraava</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Seuraava</a></li>
            {% endif %}
        </ul>
    </nav>
    <table id="listaus" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                {% if current_user.urole == "ADMIN" %}
                <th>ID</th>
                {% endif %}
                <th>Eläin</th>
                <th>Havaittu</th>
                <th>Kaupunki</th>
                <th>Leveysaste</th>
                <th>Pituusaste</th>
                <th>Paino</th>
                <th>Sukupuoli</th>
                <th>Havaintotapa</th>
                <th>Väline</th>
                <th>Luotu</th>
                <th>Muokattu</th>
            </tr>
        </thead>
        <tbody>
            {% for obs in pagination.items %}
            <tr>
                {% if current_user.urole == "ADMIN" %}
                <td>{{ obs[0].observation_id }}</td>
                {% endif %}
                {% if obs[1].info %}
                <td><a href={{ obs[1].info }} target="_blank">{{ obs[1].name }}</a></td>
                {% else %}
                <td>{{ obs[1].name }}</td>
                {% endif %}
                <td>{{ obs[0].date_observed }}</td>
                <td>{{ obs[0].city }}</td>
                {% if not obs[0].latitude %}
                <td>Ei annettu</td>
                {% else %}
                <td><a href="http://www.openstreetmap.org/?mlat={{ '%0.6f' | format(obs[0].latitude|float) }}&mlon={{ '%0.6f' | format(obs[0].longitude|float) }}&zoom=12"
                        target="_blank">{{ '%0.6f' | format(obs[0].latitude|float) }}</a></td>
                {% endif %}
                {% if not obs[0].longitude %}
                <td>Ei annettu</td>
                {% else %}
                <td><a href="http://www.openstreetmap.org/?mlat={{ '%0.6f' | format(obs[0].latitude|float) }}&mlon={{ '%0.6f' | format(obs[0].longitude|float) }}&zoom=12"
                        target="_blank">{{ '%0.6f' | format(obs[0].longitude|float) }}</a></td>
                {% endif %}
                {% if not obs[0].weight %}
                <td>Ei annettu</td>
                {% else %}
                <td>{{ '%0.2f' | format(obs[0].weight|float) }} Kg</td>
                {% endif %}


                {% if obs[0].sex == 0 %}
                <td>Uros</td>
                {% elif obs[0].sex == 1 %}
                <td>Naaras</td>
                {% elif obs[0].sex == 2 %}
                <td>Muu</td>
                {% else %}
                <td>Ei tiedossa</td>
                {% endif %}

                {% if obs[0].observ_type == 0 %}
                <td>Saalis</td>
                {% elif obs[0].observ_type == 1 %}
                <td>Näköhavainto</td>
                {% elif obs[0].observ_type == 2 %}
                <td>Kiinniotto</td>
                {% else %}
                <td>Onnettomuus</td>
                {% endif %}
                {% if not obs[2] %}
                <td>Poistettu</td>
                {% else %}
                <td>{{ obs[2] }}</td>
                {% endif %}
                <td>{{ obs[0].date_created }}</td>
                <td>{{ obs[0].date_modified }}</td>
                {% if obs[3].account_id == current_user.account_id or current_user.urole == "ADMIN" %}
                <td rowspan="2">
                    <div style="line-height: 70px"><a
                            href="{{ url_for('observation_delete', obs_id=obs[0].observation_id, last_path=request.path) }}"
                            class="btn btn-danger"
                            onclick="return confirm('Haluatko varmasti poistaa havainnon PYSYVÄSTI? Jos kyllä, paina OK.')">Poista</a>
                    </div>
                </td>
                <td rowspan="2">
                    <div style="line-height: 70px"><a
                            href="{{ url_for('observation_edit', obs_id=obs[0].observation_id, last_path=request.path) }}"
                            class="btn btn-outline-warning">Muokkaa</a></div>
                </td>
                {% endif %}
            </tr>
            <tr>
                {% if current_user.urole == "ADMIN" %}
                <td colspan="12" style="word-wrap: break-word; max-width: 20px;">{{ obs[0].info }}</td>
                {% else %}
                <td colspan="11" style="word-wrap: break-word; max-width: 20px;">{{ obs[0].info }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}