{% extends "layout.html" %}

{% block body %}
  <p style="background-color:rgba(255, 255, 255, 0.1)">
    GameTrackerin tarkoituksena on toimia alustana, jonne käyttäjät voivat tallentaa eläinhavaintojaan, sekä tarkastella omia, sekä muiden, eläinhavaintoja. Havainnot on jaettu luokkiin: saalis, näköhavainto, kiinniotto, onnettomuus. Sivustoa voi käyttää siis niin metsästäjät, kuin lintubongaritkin. Havainnoista tallennetaan muun muassa: aika, havaittu eläin, koordinaatit, väline sekä eläimen paino. Kaikkia tietoja, esimerkiksi eläimen painoa, ei ole pakko antaa havainnon yhteydessä. Havaintoa lisätessä eläin valitaan järjestelmässä olevista eläimistä. 
  </p>
{% endblock %}
