<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GameTracker</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="{{ url_for('static', filename='Leaflet.draw-1.0.4/dist/leaflet.draw-src.css') }}" />
</head>

<body background="{{ url_for('static', filename='img/background.jpg') }}"
  style="background-attachment: fixed; background-position-x: 90%; background-position-y: 50%; background-size: 110%; background-repeat: no-repeat; background-size: cover">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand btn btn-success btn-sm" href="{{ url_for('index') }}">GameTracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item px-2 py-2">
          <a class="nav-link btn btn-outline-success" href="{{ url_for('observation_menu') }}">Havainnot</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link btn btn-outline-success" href="{{ url_for('animal_menu') }}">Eläimet</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link btn btn-outline-success" href="{{ url_for('auth_menu') }}">Käyttäjätili</a>
        </li>
        {% if current_user.get_urole() == 'ADMIN' %}
        <li class="nav-item px-2 py-2">
          <a class="nav-link btn btn-outline-success" href="{{ url_for('equipment_menu') }}">Välineet</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link btn btn-outline-success" href="{{ url_for('auth_list') }}">Listaa käyttäjät</a>
        </li>
        {% endif %}
        <li class="nav-item px-2 py-2">
          <a class="nav-link btn btn-outline-success" href="{{ url_for('observation_stats') }}">Tilastoja</a>
        </li>
        {% endif %}
      </ul>
      <div class="navbar" style="margin-right: 10%">
        <ul class="navbar-nav mr-auto"></ul>
        {% if current_user.is_authenticated %}
        <span class="navbar-text px-2">
          Kirjautunut käyttäjänimellä: {{ current_user.username }}
        </span>
        <div class="nav-item px-2">
          <a href="{{ url_for('auth_logout') }}" class="nav-link btn btn-primary">Kirjaudu ulos</a>
        </div>
        {% else %}
        <div class="nav-item px-2">
          <a href="{{ url_for('auth_login') }}" class="nav-link btn btn-outline-primary">Kirjaudu</a>
        </div>
        <div class="nav-item px-2">
          <a href="{{ url_for('auth_create') }}" class="nav-link btn btn-outline-success">Luo uusi käyttäjä</a>
        </div>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>





  <main role="main" class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <span style="font-size: 18px">
              {{ message }}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif category == 'info' %}
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <span style="font-size: 18px">
              {{ message }}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif category == 'warning' %}
          <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <span style="font-size: 18px">
              {{ message }}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% block body %}

    {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>