{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('auth_menu') }}" class="btn btn-outline-primary">Takaisin käyttäjävalikkoon</a>
{{ error }}
<form method="POST" action="{{ url_for('auth_change_username') }}">
    <table>
        <tr>
            <td>
                Nykyinen käyttäjänimi
            </td>
            <td>
                {{ current_user.username }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username }}
            </td>
            <td>
                {% if form.username.errors %}
                <div>{{ form.username.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Vaihda käyttäjänimi" class="btn btn-warning"/>
            </td>
        </tr>
</form>
{% endblock %}