{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('auth_menu') }}" class="btn btn-outline-primary">Takaisin käyttäjävalikkoon</a>
<form method="POST" action="{{ url_for('auth_changepw') }}">
    <table>
        <tr>
            <td>
                {{ form.oldPassword.label }}
            </td>
            <td>
                {{ form.oldPassword }}
            </td>
            <td>
                {% if form.oldPassword.errors %}
                <div>{{ form.oldPassword.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
            <td>
                {% if form.password.errors %}
                <div>{{ form.password.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.confirmPassword.label }}
            </td>
            <td>
                {{ form.confirmPassword }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Vaihda salasana" class="btn btn-warning"/>
            </td>
        </tr>
</form>
{% endblock %}