{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('auth_menu') }}" class="btn btn-outline-primary btn-lg">Takaisin käyttäjävalikkoon</a>
<form method="POST" action="{{ url_for('auth_changepw') }}">
    <table class="table-bordered" style="border: hidden">
        <tr>
            <td style="font-size: 20px; text-align: center; border-right: hidden">
                {{ form.oldPassword.label }}
            </td>
            <td style="border-right: hidden">
                {{ form.oldPassword }}
            </td>
            <td>
                {% if form.oldPassword.errors %}
                <div>{{ form.oldPassword.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="font-size: 20px; text-align: center; border-right: hidden">
                {{ form.password.label }}
            </td>
            <td style="border-right: hidden">
                {{ form.password }}
            </td>
            <td style="border: hidden">
                {% if form.password.errors %}
                <div>{{ form.password.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="font-size: 20px; text-align: center; border-right: hidden">
                {{ form.confirmPassword.label }}
            </td>
            <td style="border-right: hidden">
                {{ form.confirmPassword }}
            </td>
        </tr>
        <tr style="border: hidden">
            <td colspan="2" style="border: hidden">
                <input type="submit" value="Vaihda salasana" class="btn btn-warning btn-lg" />
            </td>
        </tr>
</form>
{% endblock %}