{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_create') }}">
    <table>
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username }} *
            </td>
            <td>
                {% if form.username.errors %}
                <div>{{ form.username.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }} *
            </td>
            <td>
                {% if form.password.errors %}
                <div>{{ form.password.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.confirmPwd.label }}
            </td>
            <td>
                {{ form.confirmPwd }} *
            </td>
        </tr>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }} *
            </td>
            <td>
                {% if form.name.errors %}
                <div>{{ form.name.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.city.label }}
            </td>
            <td>
                {{ form.city }}
            </td>
            <td>
                {% if form.city.errors %}
                <div>{{ form.city.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.age.label }}
            </td>
            <td>
                {{ form.age }} *
            </td>
            <td>
                {% if form.age.errors %}
                <div>{{ form.age.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>*-merkillä merkatut kentät ovat pakollisia</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Luo käyttäjä" class="btn btn-success"/>
            </td>
        </tr>
</form>
{% endblock %}
