{% extends "layout.html" %}

{% block body %}
<h4>*-merkillä merkatut kentät ovat pakollisia</h4>
<form method="POST" action="{{ url_for('auth_create') }}">
    <table>
        <tbody class="table-bordered" style="border: hidden">
            <tr>
                <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                    {{ form.username.label }}
                </td>
                <td style="border: hidden">
                    {{ form.username }} *
                </td>
                <td style="border: hidden">
                    {% if form.username.errors %}
                    <div>{{ form.username.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                    {{ form.password.label }}
                </td>
                <td style="border: hidden">
                    {{ form.password }} *
                </td>
                <td style="border: hidden">
                    {% if form.password.errors %}
                    <div>{{ form.password.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                    {{ form.confirm_pwd.label }}
                </td>
                <td style="border: hidden">
                    {{ form.confirm_pwd }} *
                </td>
            </tr>
            <tr>
                <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                    {{ form.name.label }}
                </td>
                <td style="border: hidden">
                    {{ form.name }} *
                </td>
                <td style="border: hidden">
                    {% if form.name.errors %}
                    <div>{{ form.name.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                    {{ form.city.label }}
                </td>
                <td style="border: hidden">
                    {{ form.city }}
                </td>
                <td style="border: hidden">
                    {% if form.city.errors %}
                    <div>{{ form.city.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="background-color: rgba(255, 255, 255, 0.5); text-align: center; font-weight: bold">
                    {{ form.age.label }}
                </td>
                <td style="border: hidden">
                    {{ form.age }} *
                </td>
                <td style="border: hidden">
                    {% if form.age.errors %}
                    <div>{{ form.age.errors[0] }}</div>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        <tr>
            <td colspan="2">
                <input type="submit" value="Luo käyttäjä" class="btn btn-success btn-lg" />
            </td>
        </tr>
</form>
{% endblock %}