{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h2>Käyttäjät</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Käyttäjänimi</th>
                <th>Nimi</th>
                <th>Kaupunki</th>
                <th>Syntymävuosi</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.urole != "ADMIN" %}
            <tr>
                <td>{{ user.account_id }}</td>
                <td><a href="{{ url_for('observation_list_by_id', user_id = user.account_id) }}">{{ user.username }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.age }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}