{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('auth_menu') }}" class="btn btn-outline-primary">Takaisin käyttäjävalikkoon</a>
<div class="container">
    <h2>Käyttäjätiedot</h2>
    <table class="table table-bordered">
        {% for user in user_info %}
        <tr>
            <th width="20">Nimi </th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Kaupunki </th>
            <td>{{ user.city }}</td>
        </tr>
        <tr>
            <th>Syntymävuosi </th>
            <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<a href="{{ url_for('auth_user_info_edit', account_id=current_user.account_id) }}" class="btn btn-warning">Muokkaa käyttäjätietoja</a>
{% endblock %}