{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('auth_menu') }}" class="btn btn-outline-primary btn-lg">Takaisin käyttäjävalikkoon</a>
<div class="container">
    <h2>Käyttäjätiedot</h2>
    <table class="table table-bordered" style="border: hidden">
        {% for user in user_info %}
        <tr>
            <th width="20" style="font-size: 20px; text-align: center">Nimi </th>
            <td style="font-size: 25px;">{{ user.name }}</td>
        </tr>
        <tr style="border: hidden">
            <th style="font-size: 20px; text-align: center">Asuinpaikka </th>
            <td style="font-size: 25px;">{{ user.city }}</td>
        </tr>
        <tr>
            <th style="font-size: 20px; text-align: center">Syntymävuosi </th>
            <td style="font-size: 25px;">{{ user.age }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<a href="{{ url_for('auth_user_info_edit', account_id=current_user.account_id) }}" class="btn btn-warning btn-lg">Muokkaa käyttäjätietoja</a>
{% endblock %}