{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('equipment_menu') }}" class="btn btn-outline-primary btn-lg">Takaisin välinevalikkoon</a>
<form method="POST" action="{{ url_for('equipment_add') }}">
    <table>
        <tr>
            <td style="font-size: 20px">
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                {% if form.name.errors %}
                <div>{{ form.name.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="font-size: 20px">
                {{ form.allowed_types.label }}
            </td>
            <td>
                {{ form.allowed_types }}
            </td>
            <td>
                {% if form.allowed_types.errors %}
                <div>{{ form.allowed_types.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää väline" class="btn btn-success btn-lg"/>
            </td>
        </tr>
</form>
{% endblock %}