{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('equipment_menu') }}" class="btn btn-outline-primary">Takaisin välinevalikkoon</a>
<form method="POST" action="{{ url_for('equipment_listandremove') }}">
    {{ form.hidden_tag() }} 
    <h2><caption>Välineet</caption></h2>
    <table>
        <tr>
            <th>Nimi</th>
        </tr>
        {% for field in form.select %}
        <tr>
            <td>{{ field.equip(size=15) }}</td>
            <td>{{ field.selected }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <input type="submit" value="Poista valitut" class="btn btn-danger"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}