{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('animal_menu') }}" class="btn btn-outline-primary">Takaisin eläinvalikkoon</a>
{{ error }}
<p>*-merkillä merkatut kentät ovat pakollisia</p>
<form method="POST" action="{{ url_for('animal_add') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }} *
            </td>
            <td>
                {% if form.name.errors %}
                <div>{{ form.name.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.lat_name.label }}
            </td>
            <td>
                {{ form.lat_name }}
            </td>
            <td>
                {% if form.lat_name.errors %}
                <div>{{ form.lat_name.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.info.label }}
            </td>
            <td>
                {{ form.info }}
            </td>
            <td>
                {% if form.info.errors %}
                <div>{{ form.info.errors[0] }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää eläin" class="btn btn-success"/>
            </td>
        </tr>
</form>
{% endblock %}