{% extends "layout.html" %}

{% block body %}
{{ error }}
<p>*-merkillä merkatut kentät ovat pakollisia</p>
<form method="POST" action="{{ url_for('animal_add') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }} *
            </td>
            <td>
                {% for error in form.name.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.lat_name.label }}
            </td>
            <td>
                {{ form.lat_name }}
            </td>
            <td>
                {% for error in form.lat_name.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.info.label }}
            </td>
            <td>
                {{ form.info }}
            </td>
            <td>
                {% for error in form.info.errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää eläin" />
            </td>
        </tr>
</form>
{% endblock %}