{% extends "layout.html" %}

{% block body %}
<a href="{{ url_for('animal_menu') }}" class="btn btn-outline-primary">Takaisin eläinvalikkoon</a>
<nav aria-label="Pagination">
    <ul class="pagination">
        {% if animals.has_prev %}
        <li class="page-item"><a class="page-link"
                href="{{ url_for('animal_list_all', page=animals.prev_num) }}">Edellinen</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Edellinen</a></li>
        {% endif %}

        {% for page in animals.iter_pages() %}
            {% if page %}
                {% if page != animals.page %}
                <li class="page-item"><a class="page-link" href="{{ url_for('animal_list_all', page=page) }}">{{ page }}</a></li>
                {% else %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ page }}
                    </span>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if animals.has_next %}
        <li class="page-item"><a class="page-link"
                href="{{ url_for('animal_list_all', page=animals.next_num) }}">Seuraava</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Seuraava</a></li>
        {% endif %}
    </ul>
</nav>
<div class="container">
    <h2>Eläimet</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Latinankielinen nimi</th>
                <th>Lisätietoja</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animals.items %}
            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.lat_name }}</td>
                <td><a href={{ animal.info }} target="_blank">{{ animal.info }}</a></td>
                {% if current_user.get_urole() == 'ADMIN' %}
                <td><a href={{ url_for('animal_edit_or_delete', animal_id=animal.animal_id) }}
                        class="btn btn-outline-primary">Muokkaa tai poista</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}